body {
  font: 100% lato, Helvetica, sans-serif;
  color: #333333;
  margin: 0px;
  margin: 0 auto;
  background-color: transparent; }
  body input[type="text"] {
    border: none;
    padding: 3px; }
  body .message {
    -webkit-transition: opacity .5s;
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 100px;
    right: 100px;
    z-index: 3000;
    background: #222;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px; }
  body .message.showing {
    opacity: 1; }
  body #backdrop {
    position: absolute;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: .5; }
  body .overlay {
    background: #222;
    color: #fff;
    position: absolute;
    z-index: 2001;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 300px;
    margin-top: -50px;
    margin-left: -150px;
    padding: 20px; }
    body .overlay input {
      padding: 6px 8px;
      margin: 10px 0; }
    body .overlay button {
      border: none;
      padding: 4px 8px;
      background: #fff;
      color: #222; }
  body #map-widget {
    overflow: hidden;
    width: 100%;
    position: relative; }
    body #map-widget header {
      -webkit-transition: top 1s;
      position: absolute;
      padding: 20px;
      top: -2000px;
      left: 0;
      right: 0;
      background: #222;
      color: #fff;
      z-index: 2000; }
      body #map-widget header h3 span {
        font-size: 16px;
        font-weight: normal; }
      body #map-widget header .hide {
        float: right;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 18px;
        opacity: 0.7; }
        body #map-widget header .hide:hover {
          cursor: pointer;
          opacity: 1; }
      body #map-widget header.showing {
        top: 0; }
      body #map-widget header form {
        margin: 20px; }
  body #controls {
    z-index: 1000;
    position: absolute;
    bottom: 2px;
    left: 2px; }
    body #controls button {
      height: 22px;
      background: #333;
      color: #fff;
      padding: 0 12px;
      font-size: 14px;
      border: none; }
      body #controls button:hover {
        cursor: pointer; }
  body #widget #embedCode {
    background: white;
    width: 500px;
    padding: 10px;
    border: 1px solid #888; }
  body #widget #volary-menu {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    background-color: white; }
  body #widget .bold {
    font-weight: bold; }
  body #widget .float-left {
    float: left; }
  body #widget .float-right {
    float: right; }
  body #widget .hidden {
    display: none; }
  body #widget .clear {
    clear: both; }
  body #widget .center-text {
    text-align: center; }
  body #widget .right-side-text {
    text-align: right; }
  body #widget .showMoreLink, body #widget .showLessLink {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: auto; }
  body #widget .relative-for-links {
    position: relative;
    overflow: auto; }
  body #widget #header {
    text-align: center; }
    body #widget #header h1 {
      padding: 7px;
      margin: 0;
      color: white; }
  body #widget img {
    max-width: 100%; }
  body #widget #searchInput {
    width: 98.7%;
    padding-top: 7px;
    padding-bottom: 7px; }
    body #widget #searchInput input {
      height: 20px;
      width: 700px;
      margin: 15px auto;
      display: block; }
  body #widget #searchTools {
    width: 100%;
    min-height: 50px;
    border-bottom: 1px solid gray; }
  body #widget #pagination {
    min-width: 800px;
    min-height: 50px; }

@media screen and (max-width: 670px) {
  .large {
    display: none; }

  .small {
    display: inline;
    float: none; }

  #results-full-list ul li.result-item ul.bottomInfo li.center.tags {
    float: none;
    width: 100%; } }
#results-full-list {
  width: 98.7%;
  min-height: 200px;
  border-bottom: 1px solid gray; }
  #results-full-list .small {
    display: none; }
  #results-full-list ul {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: auto; }
    #results-full-list ul li {
      list-style: none; }
    #results-full-list ul li.result-item {
      box-sizing: border-box;
      padding: 0px;
      margin: 0 auto;
      overflow: auto;
      width: 97%;
      border: 1px solid #7C7C7C;
      background-color: white;
      margin: 12px;
      box-shadow: 1px 2px #cccccc, inset 0 0 2px 1px #eaeaea;
      border-radius: 4px; }
      #results-full-list ul li.result-item ul.sideInfo {
        background-color: inherit;
        width: 65%;
        margin-top: 15px; }
        #results-full-list ul li.result-item ul.sideInfo h3 {
          margin-top: 0; }
        #results-full-list ul li.result-item ul.sideInfo #description {
          overflow: hidden;
          height: 120px; }
      #results-full-list ul li.result-item img {
        max-width: 100%;
        padding: 12px; }
      #results-full-list ul li.result-item ul.bottomInfo {
        box-sizing: border-box;
        background-color: #eaeaea;
        width: 100%;
        border-top: 1px solid #7C7C7C;
        margin: 0;
        padding: 7px; }
        #results-full-list ul li.result-item ul.bottomInfo li.right {
          float: left;
          width: 25%;
          text-align: right; }
        #results-full-list ul li.result-item ul.bottomInfo li.center {
          float: left;
          width: 50%;
          text-align: center; }
        #results-full-list ul li.result-item ul.bottomInfo li.left {
          float: left;
          width: 25%; }

#loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  opacity: .7;
  background: #fff;
  display: none; }
  #loading i {
    top: 48%;
    left: 48%;
    position: absolute; }

.loading #loading {
  display: block; }

* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 340px;
  margin: 0; }

.message {
  display: none !important; }

body.dark {
  color: #fff;
  background-color: #333; }

.dark #map-widget #widget-menu {
  background: #474747; }

#nicks-test {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999999999999999999999;
  background-color: white; }

.fa {
  width: 22px;
  font-size: 18px;
  display: inline-block;
  text-align: right;
  padding-right: 10px; }

.fa-bars {
  padding-top: 5px; }

#map-widget {
  height: 100%;
  position: relative;
  padding-bottom: 200px;
  padding-top: 45px; }
  #map-widget #controls {
    position: absolute;
    bottom: -0;
    left: 0;
    z-index: 2;
    background-color: white; }
  #map-widget #map {
    height: 100%;
    width: 100%; }
    #map-widget #map .leaflet-left {
      right: 0 !important; }
      #map-widget #map .leaflet-left .leaflet-control {
        margin-right: 10px; }
  #map-widget #widget-menu {
    background: #eee;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 10000000000000; }
    #map-widget #widget-menu ul {
      list-style-type: none; }
      #map-widget #widget-menu ul li {
        padding: 7px;
        border-bottom: 1px solid gray; }
  #map-widget #simple-filters {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    box-shadow: 1px 2px 3px #757474;
    z-index: 1000; }
    #map-widget #simple-filters h4 {
      line-height: 45px;
      width: 12%;
      float: left;
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 0 10px; }
    #map-widget #simple-filters fieldset {
      margin: 0;
      padding: 0 1.5% 0 0;
      float: left;
      height: 60px; }
      #map-widget #simple-filters fieldset input {
        font-size: 13px;
        height: 15px;
        border: 1px solid #aaa; }
    #map-widget #simple-filters fieldset#location {
      width: 34%;
      padding-top: 6px; }
      #map-widget #simple-filters fieldset#location .input_state {
        padding: 0 4px 0 0;
        line-height: 0; }
        #map-widget #simple-filters fieldset#location .input_state input {
          height: 20px;
          width: 100%; }
      #map-widget #simple-filters fieldset#location .input_city {
        width: 70%;
        padding: 0;
        line-height: 0; }
        #map-widget #simple-filters fieldset#location .input_city input {
          height: 20px;
          width: 100%; }
    #map-widget #simple-filters fieldset.tags {
      line-height: 41px;
      width: 28%;
      color: #333; }
    #map-widget #simple-filters fieldset.num-results {
      line-height: 45px;
      width: 11%;
      text-align: center;
      line-height: 15px; }
      #map-widget #simple-filters fieldset.num-results p {
        height: 45px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 99%; }
    #map-widget #simple-filters fieldset.menu {
      line-height: 45px;
      width: 5%;
      text-align: center;
      line-height: 45px;
      float: right; }
    #map-widget #simple-filters .tags select {
      width: 100%; }
    #map-widget #simple-filters .tags li {
      list-style: none; }
  #map-widget footer {
    position: absolute;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    height: 200px;
    overflow: hidden; }
    #map-widget footer span {
      font-size: 16px; }
    #map-widget footer a {
      color: #2880ca;
      text-decoration: none; }
    #map-widget footer .links a {
      font-size: 25px;
      line-height: 25px; }
      #map-widget footer .links a img {
        margin-bottom: -6px; }
    #map-widget footer h3 {
      color: #2880ca;
      font-weight: normal;
      font-size: 1em; }
    #map-widget footer span {
      font-size: .9em; }
    #map-widget footer .seperator {
      padding-bottom: 5px;
      margin-bottom: 5px; }
    #map-widget footer .next {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 23px;
      font-size: 50px;
      vertical-align: middle;
      line-height: 200px;
      text-indent: 11px;
      z-index: 1000000;
      color: #333; }
      #map-widget footer .next:hover {
        cursor: pointer; }
    #map-widget footer .prev {
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      width: 32px;
      font-size: 50px;
      vertical-align: middle;
      line-height: 200px;
      text-indent: 11px;
      z-index: 1000000;
      color: #333; }
      #map-widget footer .prev:hover {
        cursor: pointer; }
    #map-widget footer #list-container {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      margin: auto 0px 0 0px; }
      #map-widget footer #list-container ul {
        overflow-y: hidden;
        width: 99999px; }
        #map-widget footer #list-container ul li {
          position: relative;
          overflow-y: hidden;
          width: 280px;
          height: 180px;
          margin: 10px 5px 10px 5px;
          padding: 10px;
          box-sizing: border-box;
          background: #fff;
          box-shadow: 0 1px 4px #A5A5A5;
          border-radius: 4px;
          list-style: none;
          float: left;
          color: #333; }
          #map-widget footer #list-container ul li.active {
            background-image: linear-gradient(to bottom, white 0, #d7d7d7 100%); }
          #map-widget footer #list-container ul li .tags {
            width: 100%;
            clear: both;
            display: block; }
          #map-widget footer #list-container ul li .foot {
            line-height: 40px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 1px solid #adadad;
            background: #eee; }
            #map-widget footer #list-container ul li .foot .half {
              box-sizing: border-box;
              float: left;
              width: 50%;
              text-align: center; }
              #map-widget footer #list-container ul li .foot .half:first-child {
                border-right: 1px solid #adadad;
                width: 49%; }

body#builder-page {
  background-color: #eee;
  font-family: Helvetica, sans-serif; }
  body#builder-page #config {
    width: 23%;
    float: left;
    margin-left: 7px; }
  body#builder-page #priview {
    width: 73%;
    float: left; }
  body#builder-page .hidden {
    display: none; }
  body#builder-page .tab {
    border: 1px solid #aaa;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    padding: 5px; }
  body#builder-page .tab:hover {
    cursor: pointer; }
  body#builder-page .tab.active {
    border-color: black; }
  body#builder-page header {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd; }
  body#builder-page h3 {
    display: inline-block;
    margin: 0 20px 0 0; }
  body#builder-page header a {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px; }
  body#builder-page fieldset {
    border: none;
    margin-bottom: 15px; }
  body#builder-page #embedCode {
    background: white;
    width: 500px;
    padding: 10px;
    border: 1px solid #888;
    height: 100px;
    margin-top: 10px; }
  body#builder-page #embedCode textarea {
    width: 480px;
    height: 60px;
    border: none; }
  body#builder-page fieldset#location div {
    display: inline-block; }
  body#builder-page h4 {
    margin-bottom: 6px; }
  body#builder-page #search {
    padding: 20px; }
  body#builder-page .checks p {
    float: left;
    padding-right: 20px;
    margin: 0; }
  body#builder-page .checks p.on {
    background: #fff; }
  body#builder-page .checks input {
    float: left;
    margin: 3px 6px 0 0; }
  body#builder-page label {
    font-size: 16px; }
  body#builder-page .dynamic {
    opacity: 0.7; }
  body#builder-page .dynamic.active {
    opacity: 1; }
  body#builder-page .tag-container {
    height: 200px;
    overflow: auto; }
  body#builder-page .tag {
    border: none;
    background: #bbb;
    font-size: 16px;
    display: inline-block;
    padding: 2px 4px;
    margin: 2px 5px; }
  body#builder-page .tag.on {
    background: green; }
  body#builder-page .tag.off {
    background: red; }
  body#builder-page div#emmbedCode {
    background: white;
    color: black; }
  body#builder-page input, body#builder-page textarea {
    background: #fff;
    border: 1px solid #ddd;
    padding: 5px;
    display: block; }

* {
  margin: 0;
  padding: 0; }

.list.dark #map-widget #simple-filters {
  background: #474747;
  box-shadow: 1px 2px 2px #000000; }

.list #map-widget {
  height: auto; }
  .list #map-widget #map {
    display: none; }
  .list #map-widget #simple-filters {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
    z-index: 1000000;
    height: 45px;
    box-shadow: 1px 2px 2px #ADADAD; }
  .list #map-widget footer {
    position: relative;
    z-index: 1000;
    width: 100%;
    overflow: auto;
    height: 100%; }
    .list #map-widget footer .prev {
      display: none; }
    .list #map-widget footer .next {
      display: none; }
    .list #map-widget footer #list-container {
      width: 89%;
      overflow-x: auto;
      overflow-y: auto;
      margin: auto 40px; }
      .list #map-widget footer #list-container ul {
        overflow-y: auto;
        width: 100%; }
        .list #map-widget footer #list-container ul li {
          position: relative;
          overflow-y: hidden;
          width: 98%;
          height: 116px;
          margin: 10px 10px 10px 5px;
          padding: 10px;
          box-sizing: border-box;
          background: #fff;
          box-shadow: 0 1px 4px #A5A5A5;
          border-radius: 4px;
          list-style: none;
          float: none;
          background-image: linear-gradient(to bottom, white 0, #d7d7d7 100%); }
          .list #map-widget footer #list-container ul li.active {
            background-image: linear-gradient(to bottom, white 0, #d7d7d7 100%); }
          .list #map-widget footer #list-container ul li .tags {
            width: 100%;
            clear: both;
            display: block; }
          .list #map-widget footer #list-container ul li .foot {
            line-height: 40px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 1px solid #adadad;
            background: #eee; }
            .list #map-widget footer #list-container ul li .foot .half {
              box-sizing: border-box;
              float: left;
              width: 50%;
              text-align: center; }
              .list #map-widget footer #list-container ul li .foot .half:first-child {
                border-right: 1px solid #adadad; }
