body {
  font: 100% Helvetica, sans-serif;
  color: #333333;
  margin: 0px;
  width: 100%;
  max-width: 810px;
  border: 1px solid gray; }

.bold {
  font-weight: bold; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.hidden {
  display: none; }

.clear {
  clear: both; }

.center-text {
  text-align: center; }

.right-side-text {
  text-align: right; }

.showMoreLink, .showLessLink {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto; }

relative-for-links {
  position: relative;
  overflow: auto; }

#header {
  text-align: center; }
  #header h1 {
    padding: 7px;
    margin: 0;
    color: white; }

img {
  max-width: 100%; }

#searchInput {
  width: 98.7%;
  padding-top: 7px;
  padding-bottom: 7px; }
  #searchInput input {
    height: 20px;
    width: 700px;
    margin: 15px auto;
    display: block; }

#searchTools {
  width: 100%;
  min-height: 50px;
  border-bottom: 1px solid gray; }

#results-large {
  min-width: 800px;
  min-height: 200px;
  border-bottom: 1px solid gray; }
  #results-large ul {
    margin: 0px;
    padding: 0px;
    overflow: auto; }
    #results-large ul li {
      list-style: none; }
    #results-large ul li.result-item {
      padding: 0px;
      margin: 1px;
      overflow: auto;
      width: 100%;
      padding-top: 7px;
      padding-bottom: 7px;
      border: 1px solid gray; }
    #results-large ul .result_column_left {
      float: left;
      width: 22%;
      margin-left: 7px; }
    #results-large ul .result_column_center {
      float: left;
      width: 54%;
      margin-top: 0px;
      margin-left: 5px; }
      #results-large ul .result_column_center a h3 {
        margin: 0; }
      #results-large ul .result_column_center li {
        margin: 0;
        padding: 7px; }
    #results-large ul .result_column_right {
      float: left;
      width: 22%;
      text-align: center; }
      #results-large ul .result_column_right li {
        margin: 10px; }

@media screen and (max-width: 670px) {
  .large {
    display: none; }

  .small {
    display: inline;
    float: none; }

  #results-full-list ul li.result-item ul.bottomInfo li.center.tags {
    float: none;
    width: 100%; } }
#results-full-list {
  width: 98.7%;
  min-height: 200px;
  border-bottom: 1px solid gray; }
  #results-full-list .small {
    display: none; }
  #results-full-list ul {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow: auto; }
    #results-full-list ul li {
      list-style: none; }
    #results-full-list ul li.result-item {
      box-sizing: border-box;
      padding: 0px;
      margin: 0 auto;
      overflow: auto;
      width: 97%;
      border: 1px solid #7C7C7C;
      background-color: white;
      margin: 12px;
      box-shadow: 1px 2px #cccccc, inset 0 0 2px 1px #eaeaea;
      border-radius: 4px; }
      #results-full-list ul li.result-item ul.sideInfo {
        background-color: inherit;
        width: 65%;
        margin-top: 15px; }
        #results-full-list ul li.result-item ul.sideInfo h3 {
          margin-top: 0; }
        #results-full-list ul li.result-item ul.sideInfo #description {
          overflow: hidden;
          height: 120px; }
      #results-full-list ul li.result-item img {
        max-width: 100%;
        padding: 12px; }
      #results-full-list ul li.result-item ul.bottomInfo {
        box-sizing: border-box;
        background-color: #eaeaea;
        width: 100%;
        border-top: 1px solid #7C7C7C;
        margin: 0;
        padding: 7px; }
        #results-full-list ul li.result-item ul.bottomInfo li.right {
          float: left;
          width: 25%;
          text-align: right; }
        #results-full-list ul li.result-item ul.bottomInfo li.center {
          float: left;
          width: 50%;
          text-align: center; }
        #results-full-list ul li.result-item ul.bottomInfo li.left {
          float: left;
          width: 25%; }

* {
  margin: 0;
  padding: 0; }

#widget {
  width: 800px;
  height: 600px;
  position: relative; }
  #widget #map {
    height: 100%;
    width: 100%; }
  #widget sidebar {
    position: absolute;
    top: 0;
    left: 35px;
    z-index: 2;
    width: 225px;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.4); }
    #widget sidebar ul li {
      margin: 10px;
      padding: 10px 0;
      background-color: rgba(255, 255, 255, 0.7);
      border: 2px ridge rgba(0, 0, 0, 0.2);
      list-style: none; }
      #widget sidebar ul li.active {
        background-color: #ddd; }

#pagination {
  min-width: 800px;
  min-height: 50px; }
