body {
  background: #21a2ce;
}

.tag {
  border: none;
  background: white;
}

.tag.on {
  background: green;
}

.tag.off {
  background: red;
}

div#emmbedCode {
	background: white;
	color: black;
}
