* { margin: 0; padding: 0; }

body {
  background: #eee;
  font-family: Helvetica, sans-serif;
}

.hidden {
  display: none
}

.tab {
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  border-color: #000
}

header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

h3 {
  display: inline-block;
  margin: 0 20px 0 0;
}

header a {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
}

fieldset {
  border: none;
  margin-bottom: 15px;
}

h4 {
  margin-bottom: 6px;
}

#search {
  padding: 20px;
}

.checks p {
  float: left;
  padding: 5px 10px;
  background: #eee;
  border: #ddd;
  margin: 5px;
}

.checks p.on {
  background: #fff;
}

.checks input {
  float: left;
  margin: 3px 6px 0 0;
}

.tag {
  border: none;
  background: #bbb;
  font-size: 24px;
  display: inline-block;
  padding: 4px 8px;
  margin-right: 10px;
}

.tag.on {
  background: green;
}

.tag.off {
  background: red;
}

div#emmbedCode {
	background: white;
	color: black;
}

input, textarea {
  background: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  display: block;
}
