* { margin: 0; padding: 0; }

body {
  background: #eee;
  font-family: 'lato',Helvetica, sans-serif;
  color:;
}

.hidden {
  display: none
}

.tab {
  border: 1px solid #aaa;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
}

.tagarea{
      height:300px;
      overflow: auto;
}

.tab:hover {
  cursor: pointer;
}

.tab.active {
  border-color: #000
}

header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

h3 {
  display: inline-block;
  margin: 0 20px 0 0;
}

header a {
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
}

.volary {
  float:right;
  font-size: 12px;
  padding: 0 2px 0 0;
}

fieldset {
  border: none;
  margin-bottom: 15px;
}

#embedCode{

}

#embedCode .code{
  background:white;
  width: 500px;
  padding: 10px;
  border: 1px solid #888;
  height: 150px;
  
}

#embedCode textarea {
  margin-top: 5px;
  width: 480px;
  height: 135px;
  border: none;
}

fieldset#location div {
  display: inline-block;
  float:left;
}

h2 {
  margin-bottom: 10px;
}
h4 {
  margin-bottom: 6px;
}

#search {
  padding: 20px;
  width:500px;
  float:left;
}

#preview {
  padding: 20px;
  float:left;
  
}

.checks p {
  float: left;
  padding-right: 20px;
  margin: 0;
}

.checks p.on {
  background: #fff;
}

.checks input {
  float: left;
  margin: 3px 6px 0 0;
}

label {
  font-size: 16px;
}

.dynamic {
  opacity: .7
}

.dynamic.active {
  opacity: 1
}

.tag-container {
  height: 200px;
  overflow: auto;
}

.tag {
  border: none;
  background: #bbb;
  font-size: 16px;
  display: inline-block;
  padding: 2px 4px;
  margin: 2px 5px;
}

.tag.on {
  background: green;
}

.tag.off {
  background: red;
}

div#emmbedCode {
	background: white;
	color: black;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display:block;
  padding: 3px;
  margin: 2px 10px 0 0;
  border: 1px solid #A0A0A0;
  border-radius: 0;
  font-family: "lato", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.630769231em;
  letter-spacing: 0.11em;
  color: #555;
  text-indent: 1px;
  text-overflow: '';
  min-width: 40px;
}
input, textarea {
  background: #fff;
  padding: 5px;
  display: block;
  color: #1B2130;
  padding: 3px 3px 3px 8px;
  margin: 2px 6px 5px 0;
  border: 1px solid #A0A0A0;
  background: #fbfbfb;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  font-family: "lato", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.630769231em;
  letter-spacing: 0.11em;
}

select.tags{
  width:300px;
}

.size {
  float:left;
  padding-right:10px;
}
