//Future file for map specific styles
* { margin: 0; padding: 0 }

// temp

.list.dark #map-widget #simple-filters {
  background: #474747;
  box-shadow: 1px 2px 2px #000000;
}
.list #map-widget{

		height: auto;
		
	#map{
			display:none;
		}

    #simple-filters {
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #eeeeee;
    z-index: 1000000;
    height: 45px;
    box-shadow: 1px 2px 2px #ADADAD;
    }

    footer {
    position: relative;
    z-index: 1000;
    width: 100%;
    overflow: auto;
    height:100%;
    	.prev {
    		display:none;
    	}
    	.next {
    		display:none;
    	}
        #list-container {
          width: 89%;
          overflow-x: auto;
          overflow-y: auto;
          margin: auto 40px;
          ul {
            overflow-y: auto;
            width: 100%;
            li {
              position: relative;
              overflow-y: hidden;
              width: 98%;
              height: 116px;
              margin: 10px 10px 10px 5px;
              padding: 10px;
              box-sizing: border-box;
              background: #fff;
              box-shadow: 0 1px 4px #A5A5A5;
              border-radius: 4px;
              list-style: none;
              float: none;
              background-image: linear-gradient(to bottom,#fff 0,#D7D7D7 100%);
              &.active {
                background-image: linear-gradient(to bottom,#fff 0,#D7D7D7 100%);
              }
              .tags {
                width: 100%;
                clear: both;
                display: block;
              }
              .foot {
                line-height: 40px;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                border-top: 1px solid #adadad;
                background: #eee;
                .half {
                  box-sizing: border-box;
                  float: left;
                  width: 50%;
                  text-align: center;
                  &:first-child {
                    border-right: 1px solid #adadad;
                  }
                }
              }
            }
          }
}
}
}

