#loading {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index:9999;
  opacity: .7;
  background: #fff;
  display: none;
  i {
    top: 48%;
    left: 48%;
    position: absolute;
  }
}
.loading #loading {
  display: block;
}

//Future file for map specific styles
* { margin: 0; padding: 0 }

// temp
body { width: 100%; height: 340px; margin: 0; }
.message { display: none !important; }
body.dark {
  color:#fff;
  background-color: #333;
}
.dark #map-widget #widget-menu {
background: #474747;
  }

.fa {
  width: 22px;
  font-size: 18px;
  display: inline-block;
  text-align: right;
  padding-right: 10px;
}

.fa-bars {
	padding-top:5px;
}

#map-widget {
	height: 100%;
	position: relative;
  padding-bottom: 200px;
  padding-top: 45px;
	#controls {
		position: absolute;
		bottom: -0;
		left: 0;
		z-index: 2;
		background-color: white;
	}
	#map {
		height: 100%;
    width: 100%;
    .leaflet-left {
      right: 0!important;
      .leaflet-control {
        margin-right: 10px;
      }
    }
	}
  #widget-menu{
    background: #eee;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 2000;
    ul{
      list-style-type: none;
      li {
        padding: 7px;
        border-bottom: 1px solid gray;
      }
    }
  }
  #simple-filters {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
	height: 45px;
	box-shadow: 1px 2px 3px #757474;
	z-index: 1000;
    h4 {
      line-height: 45px;
      width: 12%;
      float: left;
      font-size: 20px;
      font-weight: normal;
      margin: 0 0 0 10px;
    }

    fieldset {
      margin: 0;
      padding: 0 1.5% 0 0;
      float: left;
      height: 60px;
      input {
        font-size: 13px;
        height: 15px;
        border: 1px solid #aaa;
      }
    }
    fieldset#location {
      width: 34%;
      padding-top: 6px;
      .input_state {
        padding: 0 4px 0 0;
        
        line-height: 0;
        input {
          height: 20px;
          width: 100%;
        }
      }
      .input_city {
        width: 70%;
        padding: 0;
        line-height: 0;
        input {
          height: 20px;
          width: 100%;
        }
      }
    }
    fieldset.tags {
      line-height: 41px;
      width: 28%;
      color:#333;
    }
    fieldset.num-results {
      line-height: 45px;
      width: 11%;
      text-align: center;
      line-height: 15px;
      p {
        height: 45px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 99%
      }
    }
    fieldset.menu {
      line-height: 45px;
      width: 5%;
      text-align: center;
      line-height: 45px;
      float: right;
    }
    .tags {
      select {
        width: 100%;
      }
      li {
        list-style: none
      }
    }
  }
	footer {
		position: absolute;
    bottom: 0;
		z-index: 1000;
		width: 100%;
    height: 200px;
		overflow: hidden;
		span{
			font-size: 16px;
		}
		a {
			color:#2880ca;
			text-decoration: none;
		}
    .links a {
      font-size: 25px;
      line-height: 25px;
      img {
        margin-bottom: -6px;
      }
    }
		h3 {
			color:#2880ca;
      font-weight: normal;
      font-size: 1em;
		}
    span {
      font-size: .9em;
    }
		.seperator {
      padding-bottom: 5px;
      margin-bottom: 5px;
		}
    .next {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 23px;
      font-size: 50px;
      vertical-align: middle;
      line-height: 200px;
      text-indent: 11px;
      z-index:1000;
      color:#333;
      &:hover {
        cursor: pointer;
      }
    }
    .prev {
      position: absolute;
      left: -10px;
      top: 0;
      bottom: 0;
      width: 32px;
      font-size: 50px;
      vertical-align: middle;
      line-height: 200px;
      text-indent: 11px;
      z-index:1000;
      color:#333;
      &:hover {
        cursor: pointer;
      }
    }
    #list-container {
      width: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      margin: auto 0px 0 0px;
      ul {
        overflow-y: hidden;
        width: 99999px;
        li {
          position: relative;
          overflow-y: hidden;
          width: 280px;
          height: 180px;
          margin: 10px 5px 10px 5px;
          padding: 10px;
          box-sizing: border-box;
          background: #fff;
          box-shadow: 0 1px 4px #A5A5A5;
          border-radius: 4px;
          list-style: none;
          float: left;
          color:#333;
          &.active {
            background-image: linear-gradient(to bottom,#fff 0,#D7D7D7 100%);
          }
          .tags {
            width: 100%;
            clear: both;
            display: block;
          }
          .foot {
            line-height: 40px;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 1px solid #adadad;
            background: #eee;
            .half {
              box-sizing: border-box;
              float: left;
              width: 50%;
              text-align: center;
              &:first-child {
                border-right: 1px solid #adadad;
                width:49%;
              }
            }
          }
        }
      }
    }
	}
}
