<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="app.css" />
</head>
<body>

  <div id="wrapper">

    <header>
      <h3>Configure your widget</h3>
      <a href="#" rv-on-click="ui.showPreview | preventDefault">Preview</a>
      <a href="#" rv-on-click="ui.toggleShowingCode | preventDefault">View Code</a>
      <div rv-show="ui:showingCode" id='embedCode'>
        &lt;div class=&quot;volary-widget&quot; data-src=&quot;http://localhost:3000/groups_big.html?{ ui:embedQuery | toURLString }&quot;&gt;&lt;/div&gt;<br/><br/>  &lt;script src=&quot;http://localhost:3000/js/widget_loader.js&quot;&gt;&lt;/script&gt;
      </div>
    </header>
  
    <div id='search'>
      <form rv-on-submit='noop | preventDefault'>

        <fieldset>
          <label class="tab" for="groups" rv-class-active="filters:subject | eq groups">Groups</label>
          <input class="hidden" type="radio" rv-checked="filters:subject" name="subject" id="groups" value="groups" />
          <label class="tab" for="events" rv-class-active="filters:subject | eq events">Events</label>
          <input class="hidden" type="radio" rv-checked="filters:subject" name="subject" id="events" value="events" />
        </fieldset>

        <fieldset>
          <h4>Keywords</h4>
          <input rv-value='filters:keywords' type='text' name='keyword'> </input>
        </fieldset>

        <fieldset rv-show='filters:subject | eq events'>
          <h4>Price</h4>
          <div class="checks" rv-each-price='filters.prices.models'>
            <p>
              <input rv-checked='price:active' type='checkbox'></input>
              <label rv-text='price:text'></label>
            </p>
          </div>
        </fieldset>

        <fieldset rv-show='filters:subject | eq events'>
          <h4>Attendance</h4>
          <div class="checks" rv-each-type='filters.attendance.models'>
            <p>
              <input rv-checked='type:active' type='checkbox'></input>
              <label rv-text='type:text'></label>
            </p>
          </div>
        </fieldset>

        <fieldset rv-show='filters:subject | eq groups'>
          <h4>Membership size</h4>
          <div class="checks" rv-each-type='filters.memberCount.models'>
            <p>
              <input rv-checked='type:active' type='checkbox' rv-id="type:text" />
              <label rv-text='type:text' rv-for="type:text"></label>
            </p>
          </div>
        </fieldset>

        <fieldset rv-show='filters:subject | eq groups'>
          <h4>Organizational size</h4>
          <div class="checks" rv-each-size='filters.size.models'>
            <p>
              <input rv-checked='size:active' type='checkbox' rv-id="size:text" />
              <label rv-text='size:text' rv-for="size:text"></label>
            </p>
          </div>
        </fieldset>

        <h4> Tags </h4>
        <button rv-each-tag='filters.tags.models' class='tag' rv-class-on='tag:status | eq 1' rv-class-off='tag:status | eq 2' rv-text='tag:name' rv-on-click='tag.toggle | preventDefault'/>
      </form>
    </div>
  </div>

  <!-- external libs -->
  <script src="/js/vendor/jquery.min.js"></script>
  <script src="/js/vendor/moment.min.js"></script>
  <script src="/js/vendor/lodash.min.js"></script>
  <script src="/js/vendor/backbone.min.js"></script>
  <script src="/js/vendor/rivets.min.js"></script>

  <!-- our utilities -->
  <script src="/js/rivets_config.js"></script>
  <script src="/js/hub.js"></script>
  <script src="/js/utils.js"></script>

  <!-- modules -->
  <script src="/js/modules/builder_ui.js"></script>
  <script src="/js/modules/filters.js"></script>

  <!-- initialize this show -->
  <script>

    var filters = new Filters
    var ui = new BuilderUI

    filters.fromQuery(window.location.search)
    ui.fromQuery(window.location.search)

    rivets.bind($('#wrapper'), {
      filters: filters,
      ui: ui,
      noop: _.noop
    }) 
  </script>
</body>
</html>
