$font-stack:   Helvetica, sans-serif;
$primary-color: #333;
$primary-bg: #82ba00;

h1,h2,h3 {
	font-family: 'lato', Helvetica, sans-serif;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
  margin: 0px;
}

ul {
	margin:0px;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 0px;
}

li {
	list-style: none;
	border: 1px solid #595959;
	margin: 10px;
	padding: 5px;
	
	h3{}
	
	.location {}

	.date{float:left}
	
}


h1.title {
	background: $primary-bg;
}

.title {
	padding:8px 0 8px 22px;
width: 278px;
}

